<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TOKEN_AIRDROP</title>
    <style>
      button:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
    </style>
  </head>
  <body style="background-color: black; color: white">
    <h1>TOKEN_AIRDROP</h1>
    <p>Click the button below to connect your MetaMask wallet.</p>
    <button
      id="connect-button"
      style="
        background-color: white;
        color: black;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
      "
    >
      Connect
    </button>
    <hr />
    <h2>Wallet Information</h2>
    <ul id="wallet-info" style="display: none">
      <li>Network: <span id="network"></span></li>
      <li>Address: <span id="address"></span></li>
      <li>Balance: <span id="balance"></span></li>
    </ul>
    <div>
      <button
        id="nft-button"
        style="
          background-color: #ffa500;
          color: black;
          border: none;
          padding: 10px 20px;
          margin-right: 10px;
        "
      >
        NFT 받기
      </button>
      <button
        id="airdrop-button"
        style="
          background-color: #00ffff;
          color: black;
          border: none;
          padding: 10px 20px;
          margin-right: 10px;
        "
      >
        에어드랍
      </button>
      <button
        id="tokenadd-button"
        style="
          background-color: #00ffff;
          color: black;
          border: none;
          padding: 10px 20px;
          margin-right: 10px;
        "
      >
        토큰 추가하기
      </button>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.5.2/web3.min.js"></script>
    <script src="./static/js/script.js"></script>
  </body>
</html> 